.player-role-info-wrap
  width 100%
  position relative
  .icon
    width 72px
    height 72px
    cursor pointer
    border none
  .normal-text
    font-size 14px
    font-weight bold
  .username
    display inline-block
    font-size 16px
  .dead-mask
    position absolute
    left 0
    top 0
    width 72px
    height 72px
    border-radius 36px
    background-color black
    opacity 0.5
  .dead-text
    position absolute
    left 0
    top 0
    width 72px
    height 72px
    border-radius 36px
    color white
    line-height 72px
    text-align center
    font-weight bold
    font-size 16px

  .skills-wrap
    .skills-content
      .skills-btn
        width 72px
        height 72px
        border-radius 36px
        padding 0!important
        img
          width 40px
          height 40px
      .skill-name
        font-size 14px
        font-weight bold
