.game-header-wrap
  width 100%
  box-shadow 0 2px 4px rgba(0,21,41,.08)
  height 60px
  position relative
  .room-title
    font-size 20px
    color #333333
    text-align center
    line-height 60px
    font-weight 500
  .welcome-user
    font-style italic
  .game-over
    position absolute
    top 50%
    right 20px
    transform translateY(-50%)
