@import './flexbox.styl'
@import './variables.styl'

.mar-5
  margin 5px!important
.mar-10
  margin 10px!important
.mar-20
  margin 20px!important

.mar-t5
  margin-top 5px!important
.mar-t10
  margin-top 10px!important
.mar-t20
  margin-top 20px!important
.mar-t30
  margin-top 30px!important
.mar-t40
  margin-top 40px!important

.mar-b5
  margin-bottom 5px!important
.mar-b10
  margin-bottom 10px!important
.mar-b20
  margin-bottom 20px!important
.mar-b30
  margin-bottom 30px!important
.mar-b40
  margin-bottom 40px!important

.mar-l5
  margin-left 5px!important
.mar-l10
  margin-left 10px!important
.mar-l20
  margin-left 20px!important
.mar-l30
  margin-left 30px!important
.mar-l40
  margin-left 40px!important
.mar-l100
  margin-left 100px!important

.mar-r5
  margin-right 5px!important
.mar-r10
  margin-right 10px!important
.mar-r20
  margin-right 20px!important
.mar-r30
  margin-right 30px!important
.mar-r40
  margin-right 40px!important
.text-center
  text-align center!important

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:after
  color #fff!important
  background-color #4169E1!important
  border-color #4169E1!important
  box-shadow none!important
  transition none!important
.btn-success,.btn-success:hover,.btn-success:after,.btn-success:focus
  color #fff!important
  background-color #67c23a!important
  border-color #67c23a!important
  box-shadow none!important
  transition none!important
.btn-info,.btn-info:hover,.btn-info:after,.btn-info:focus
  color #fff!important
  background-color #909399!important
  border-color #909399!important
  box-shadow none!important
  transition none!important
.btn-warning,.btn-warning:hover,.btn-warning:after,.btn-warning:focus
  color #fff!important
  background-color #e6a23c!important
  border-color #e6a23c!important
  box-shadow none!important
  transition none!important
.btn-danger,.btn-danger:hover,.btn-danger:after,.btn-danger:focus
  color #fff!important
  background-color #f56c6c!important
  border-color #f56c6c!important
  box-shadow none!important
  transition none!important
.btn-delete,.btn-delete:hover,.btn-delete:after,.btn-delete:focus
  color #fff!important
  background-color #f55066!important
  border-color #f55066!important
  box-shadow none!important
  transition none!important
.btn-nature,.btn-nature:hover,.btn-nature:after,.btn-nature:focus
  color #fff!important
  background-color #b8f1ed!important
  border-color #b8f1ed!important
  box-shadow none!important
  transition none!important
.btn-warm,.btn-warm:hover,.btn-warm:after,.btn-warm:focus
  color #fff!important
  background-color #ffe647!important
  border-color #ffe647!important
  box-shadow none!important
  transition none!important
.btn-tag,.btn-tag:hover,.btn-tag:after,.btn-tag:focus
  color #fff!important
  background-color #f1b8f1!important
  border-color #f1b8f1!important
  box-shadow none!important
  transition none!important
.btn-folk,.btn-folk:hover,.btn-folk:after,.btn-folk:focus
  color #fff!important
  background-color #ac5e74!important
  border-color #ac5e74!important
  box-shadow none!important
  transition none!important
.btn-error,.btn-error:hover,.btn-error:after,.btn-error:focus
  color #fff!important
  background-color red!important
  border-color red!important
  box-shadow none!important
  transition none!important
.btn-disabled,.btn-disabled:hover,.btn-disabled:after,.btn-disabled:focus
  color #999999!important
  background-color #eeeeee!important
  border-color #e3e3e3!important
  box-shadow none!important
  transition none!important
.color-success,.color-green
  color #67c23a!important
.color-red
  color red!important
.color-main,.color-blue
  color #4169E1!important
.color-light-grey
  color #898989!important
.color-gold
  color gold!important
.color-orange
  color orange!important
.color-white
  color white!important
.color-black
  color black!important
.color-purple
  color purple!important
.color-pink
 color #d4237a!important
.color-brown
  color #c28164!important
.bg-green
  background-color #67c23a!important
.bg-red
  background-color red!important
.bg-pink
  background-color #d4237a!important
.bg-purple
  background-color purple!important
.bg-black
  background-color black!important
.bg-gold
  background-color gold!important
.bg-orange
  background-color orange!important
.bg-brown
  background-color #c28164!important
.bg-light-blue
  background-color #b8f1ed!important
.w-70
  width 70px!important
.w-80
  width 80px!important
.w-200
  width 200px!important
.w-300
  width 300px!important
.w-400
  width 400px!important
.w-500
  width 500px!important
.w-600
  width 600px!important
.width100
  width 100%
.max-w-800
  min-width 800px!important

.h-40
  height 40px!important
.h-100
  height 100px!important
.h-120
  height 120px!important
.h-144
  height 144px!important
.h-164
  height 164px!important
.h-184
  height 184px!important
.h-200
  height 200px!important
.h-300
  height 300px!important
.min-h-200
  min-height 200px!important
.bolder
  font-weight bold!important
.text-overflow-3
  text-overflow ellipsis!important
  overflow hidden!important
  line-clamp 3!important
  -webkit-box-orient vertical!important
  -webkit-line-clamp 3!important
  display -webkit-box!important

.modal-view-wrap
  .normal-content
    padding-top 24px
    padding-left 24px
  .ant-modal-content
    .ant-modal-body
      padding 0
    .ant-modal-header
      border none
    .ant-modal-footer
      border none
  .item-cell
    width 100%
  .item-title
    min-width 80px
    text-align right
  .item-cell-content
    max-width calc(100% - 100px)
